body {
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: gray;
}

img{
    display: block;
    margin: auto;
}

iframe{
    display: block;
    margin: auto;
}

blockquote{
  text-align: center;
}